.about {
    display: flex;

    justify-content: space-between;

    @include breakpoint ($tablet-bp) {
        flex-direction: column;
        align-items: center;
    }
}

.about__photo {
    width: 0 auto;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @include breakpoint ($tablet-bp) {
        width: 80%;
    }
}

.about__content {
    width: 39%;

    padding-top: 70px;
    padding-left: 20px;

    color: $white;

    @include breakpoint ($laptop-bp) {
        padding-top: 0;
    }

    @include breakpoint ($tablet-bp) {
        padding-top: 20px;
        padding-left: 0;
        width: 100%;
    }
}

.about__title {
    margin-bottom: 45px;

    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;

    @include breakpoint ($laptop-bp) {
        font-size: 40px;
        margin-bottom: 20px;
    }

    @include breakpoint ($mobile-bp) {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

.about__text {
    font-size: 16px;
    line-height: 1.6;

    @include breakpoint ($mobile-bp) {
        font-size: 14px;
    }
}