.btn {
    display: inline-block;
    padding: 10px 30px;
    height: 2.875em;

    background: linear-gradient(-45deg, #7C6AFA, #C89AFC);
    border-radius: 50px;

    cursor: pointer;
    border: none;
    text-decoration: none;

    font-size: 16px;
    color: $white;
    line-height: 1.5;

    transition: color .2s linear, border .2s linear;

    &:hover {
        color: #1f1563;
    }

    &--purple {
        @include breakpoint($laptop-bp) {
            display: none;
        }
    }

    &--pink {
        font-weight: 700;
        background: linear-gradient(-45deg, #451046, #DF5950);
    }

    &--trans {
        background: transparent;
        border: 1px solid $white;

        &:hover {
            color: #7C6AFA;
            border-color: #7C6AFA;
        }
    }
}