.social {
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 290px;
}

.social__item {

}

.social__link {
    display: block;
    width: 50px;
    height: 50px;

    background: #C89AFC;
    border-radius: 50%;

    position: relative;
    transition: background .2s linear;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
        background: #7C6AFA;
    }
}