.teachers {
    position: relative;
}

.teachers__ico {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
}

.teachers__title {
    padding-left: 128px;
    margin-bottom: 113px;
}

.teachers__content {
    display: flex;
    justify-content: space-between;
}

.teachers__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33.33333%;
    padding: 40px 100px;

    color: $white;
}

.teachers__avatar {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    max-width: 190px;
    max-height: 190px;
    min-width: 100px;
    min-height: 100px;

    border-radius: 50%;
}

.teachers__name {
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
}

.teachers__job {
    margin-bottom: 35px;

    font-size: 16px;
    color: rgba($white, .8);
    line-height: 1.6;
}