<section class="section">
    <div class="container">
        <div class="advantages">
            <h2 class="advantages__title">Получите профессию прямо сейчас</h2>
            <div class="advantages__content">

                <div class="advantages__item">
                    <img src="assets/images/advantages/1.svg" alt="" class="advantages__item-ico">
                    <h3 class="advantages__item-title"><p>Только практические</p> навыки в работе</h3>
                    <div class="advantages__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>
                <div class="advantages__item">
                    <img src="assets/images/advantages/2.svg" alt="" class="advantages__item-ico">
                    <h3 class="advantages__item-title"><p>Работа на самом</p> современном оборудовании</h3>
                    <div class="advantages__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>
                <div class="advantages__item">
                    <img src="assets/images/advantages/3.svg" alt="" class="advantages__item-ico">
                    <h3 class="advantages__item-title"><p>Сертификация</p> по окончании обучения</h3>
                    <div class="advantages__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>

            </div>
        </div>
    </div>
</section>