<div class="footer">
    <div class="footer__header">
        <h2 class="footer__title">Статьи каждую неделю</h2>
        <h3 class="footer__subtitle">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</h3>
    </div>

    <form action="/" class="form" method="POST">
        <div class="form__group">
            <input class="form__input" type="email" placeholder="E-mail">
            <button class="form__btn btn  btn--pink" type="submit">Подписаться</button>
        </div>
    </form>

    <div class="social">

        <div class="social__item">
            <a class="social__link" href="#" target="_blank">
                <img src="assets/images/social/vk.svg" alt="">
            </a>
        </div>
        <div class="social__item">
            <a  class="social__link"href="#" target="_blank">
                <img src="assets/images/social/youtube.svg" alt="">
            </a>
        </div>
        <div class="social__item">
            <a class="social__link" href="#" target="_blank">
                <img src="assets/images/social/facebook.svg" alt="">
            </a>
        </div>
        <div class="social__item">
            <a class="social__link" href="#" target="_blank">
                <img src="assets/images/social/instagram.svg" alt="">
            </a>
        </div>

    </div>

    <div class="footer__copy">Templates #18. More on Figma.info</div>
</div>