<header class="header ">
    <div class="header__inner">
        <img class="header__logo" src="assets\images/logo.svg" alt="">

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__link">
                    <a href="#">Главная</a>
                </li>
                <li class="nav__link">
                    <a href="#">Курсы</a>
                </li>
                <li class="nav__link">
                    <a href="#">Расписание</a>
                </li>
                <li class="nav__link">
                    <a href="#">Преподаватели</a>
                </li>
                <li class="nav__link">
                    <a href="#">Рассылка</a>
                </li>
                <li class="nav__link">
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="burger">
            <span>Menu</span>
        </div>

        <a class="btn btn--purple" href="#">Зайти в кабинет</a>

    </div>

    <nav class="mobile-nav">
        <ul class="mobile-nav__list">
            <li class="mobile-nav__link">
                <a href="#">Главная</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Курсы</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Расписание</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Преподаватели</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Рассылка</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Контакты</a>
            </li>
            <li class="mobile-nav__link">
                <a href="#">Зайти в кабинет</a>
            </li>
        </ul>
    </nav>

</header>