<main class="main">
    <div class="container">
        <div class="main__inner">
            <h1 class="main__title"><p>Первый курс</p>по компьютерной сборке</h1>

            <div class="clock">
                <div class="clock__item">
                    <div class="clock__number">18</div>
                    <div class="clock__unit">Дней</div>
                </div>
                <div class="clock__item">
                    <div class="clock__number">18</div>
                    <div class="clock__unit">Часов</div>
                </div>
                <div class="clock__item">
                    <div class="clock__number">18</div>
                    <div class="clock__unit">Минут</div>
                </div>
                <div class="clock__item">
                    <div class="clock__number">18</div>
                    <div class="clock__unit">Секунд</div>
                </div>
            </div>
        </div>
    </div>

    <div class="main__footer">
            <div class="main__footer-inner">

                <div class="main__footer-item">
                    <a class="btn btn--pink">Заказать курс</a>
                </div>

                <div class="stat">
                    <div class="stat__left">
                        <div class="stat__left-item">
                            <span class="stat__left-name">Учеников всего:</span>
                            <span class="stat__left-value">200</span>
                        </div>
                        <div class="stat__left-item">
                            <span class="stat__left-name">Успешно закончили курс:</span>
                            <span class="stat__left-value">190</span>
                        </div>
                    </div>
                    <div class="stat__right">
                        <div class="stat__right-item">
                            <span class="stat__right-name">Заработано учениками:</span>
                            <span class="stat__right-value">400 000₽</span>
                        </div>
                        <div class="stat__progress">
                            <span class="stat__progress-right">0</span>
                            <span class="stat__progress-left">1 000 000₽</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</main>