<section class="section">
    <div class="container">
        <div class="partner">
            <img class="partner__ico" src="assets/images/ico.svg" alt="">
            <h2 class="partner__title">Партнеры - топовые бренды</h2>
            <div class="partner__logos">
                <div class="partner__logos-row">

                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>

                </div>
                <div class="partner__logos-row">

                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>
                    <div class="partner__item">
                        <img src="assets/images/partner/partner-logo.svg" alt="" class="partner logo">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>