<section class="section">
    <div class="program">
        <div class="program__header">
            <img src="assets/images/ico.svg" alt="" class="program__ico">
            <h2 class="program__title">Программа обучения</h2>
            <h3 class="program__subtitle">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</h3>
        </div>
        <div class="program__content">

            <div class="program__item">
                <div class="program__item-week">Неделя №1</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>
            <div class="program__item">
                <div class="program__item-week">Неделя №3</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>
            <div class="program__item">
                <div class="program__item-week">Неделя №5</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>
            <div class="program__item">
                <div class="program__item-week">Неделя №7</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>

            <div class="program__item  program__item--right">
                <div class="program__item-week">Неделя №2</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>
            <div class="program__item  program__item--right">
                <div class="program__item-week">Неделя №4</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>
            <div class="program__item  program__item--right">
                <div class="program__item-week">Неделя №6</div>
                <div class="program__item-text">Красивая часть курса, которая помогает вуспехе</div>
            </div>

        </div>
    </div>
</section>