<section class="section">
    <div class="container">
        <div class="start">
            <div class="start__header">
                <img class="start__ico" src="assets/images/ico.svg" alt="">
                <h2 class="start__title">Быстрый старт</h2>
                <h3 class="start__subtitle">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</h3>
            </div>
            <div class="graphic">

                <div class="graphic__item">
                    <div class="graphic__percent">100%</div>
                    <div class="graphic__progress">
                        <img src="assets/images/start/1.png" alt="">
                    </div>
                    <div class="graphic__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>
                <div class="graphic__item">
                    <div class="graphic__percent">75%</div>
                    <div class="graphic__progress">
                        <img src="assets/images/start/2.png" alt="">
                    </div>
                    <div class="graphic__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>
                <div class="graphic__item">
                    <div class="graphic__percent">50%</div>
                    <div class="graphic__progress">
                        <img src="assets/images/start/3.png" alt="">
                    </div>
                    <div class="graphic__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>
                <div class="graphic__item">
                    <div class="graphic__percent">Итог</div>
                    <div class="graphic__progress">
                        <img src="assets/images/start/4.png" alt="">
                    </div>
                    <div class="graphic__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
                </div>

            </div>
        </div>
    </div>
</section>