<section class="section">
    <div class="container">
        <div class="teachers">
            <img class="teachers__ico" src="assets/images/ico.svg" alt="">
            <h2 class="teachers__title">Ваши преподаватели</h2>
            <div class="teachers__content">

                <div class="teachers__item">
                    <img src="assets/images/teachers/1.svg" alt="" class="teachers__avatar">
                    <div class="teachers__name">Дмитрий Иванов</div>
                    <div class="teachers__job">Специалист по видеокартам</div>
                    <a href="#" class="btn  btn--trans">Биография</a>
                </div>
                <div class="teachers__item">
                    <img src="assets/images/teachers/2.svg" alt="" class="teachers__avatar">
                    <div class="teachers__name">Дмитрий Иванов</div>
                    <div class="teachers__job">Специалист по видеокартам</div>
                    <a href="#" class="btn  btn--trans">Биография</a>
                </div>
                <div class="teachers__item">
                    <img src="assets/images/teachers/3.svg" alt="" class="teachers__avatar">
                    <div class="teachers__name">Дмитрий Иванов</div>
                    <div class="teachers__job">Специалист по видеокартам</div>
                    <a href="#" class="btn  btn--trans">Биография</a>
                </div>

            </div>
        </div>
    </div>
</section>